---
import Layout from "../layouts/Layout.astro";
import BadgeAnimado from "../components/BadgeAnimado.astro";

const title = "Astro Starter Kit";
const description = "Starter kit with Astro and Tailwind CSS";
---

<Layout title={title} description={description}>
  <main class="container mx-auto">
    <section
      class="flex flex-col items-center justify-center m-auto min-h-screen gap-y-4"
    >
      <BadgeAnimado enlace="#" texto="comenzar a usar" />
      <h1 class="text-5xl font-bold text-center">
        Welcome to Astro Components
      </h1>
      <p class="text-xl text-center text-balance">
        una libreria de componentes para astro que consiste en copiar y pegar,
        los puedes personalizar y usar en tus proyectos ya que utiliza
        tailwindcss, css, javascript y html.
      </p>
    </section>
  </main>
</Layout>
