---
const { text, estado } = Astro.props;
---

<span class=`badge ${estado}`>{text}</span>

<style>
  .badge {
    display: inline-block;
    padding: 5px;
    font-size: 0.75em;
    text-align: center;
    font-weight: 700;
    border-radius: 25px;
  }
  .badge.nuevo {
    background-color: #0c002f;
    color: #0523ce;
  }
  .badge.aprovado {
    background-color: #002f24;
    color: #05ce91;
  }
  .badge.borrado {
    background-color: #2f0000;
    color: #ce0505;
  }
  .badge.pendiente {
    background-color: #2f2300;
    color: #cbce05;
  }
</style>
