---
const { tittleCheckBox = "Checkbox" } = Astro.props;
const { styleCheckBox = "checked:bg-sky-500 w-5 h-5 rounded-md border" } =
  Astro.props;
---

<label class="flex items-center gap-x-2" for="checkbox">
  <input
    type="checkbox"
    name="checkbox"
    id="checkbox"
    class=`${styleCheckBox}`
  />
  {tittleCheckBox}
</label>

<style>
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
</style>
