---
const { title = "Astro Components" } = Astro.props;
const { callAction } = Astro.props;
---

<nav
  class="bg-[#151313] dark:bg-black/65 text-white lg:max-w-[1200px] md:max-w-[750px] max-w-96 m-auto p-8 translate-y-8 rounded-xl z-50 relative font-berlin dark:backdrop-blur-sm"
>
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-white text-2xl font-extrabold">{title}</h2>
    </div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="menu-items text-center">
      <li><a href="/">inicio</a></li>
      <li><a href="#ventajas">ventajas</a></li>
      <li><a href="#funciones">funciones</a></li>
      <li><a href="#planes">planes</a></li>
      <li class="block md:hidden">
        <a href="#">{callAction}</a>
      </li>
    </ul>
    <a
      class="contact-button p-4 bg-white text-black rounded-lg font-bold text-2xl hover:bg-[#5600bc35] hover:text-[#5600bc] transition-all border border-transparent hover:border-[#5600bc] hover:shadow-lg hover:shadow-[#5600bc]"
      href="#">{callAction}</a
    >
  </div>
</nav>

<style>
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }

  .menu-items {
    display: flex;
    gap: 1rem;
  }

  .menu-items li a {
    font-weight: bold;
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }

    .menu-items {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(0, 0, 0, 0.75);
      padding: 1rem;
      clip-path: circle(0% at top right);
      transition: clip-path 0.5s ease-in-out;
      border-radius: 15px;
    }

    .menu-items.active {
      clip-path: circle(150% at top right);
    }

    .contact-button {
      display: none;
    }
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.querySelector(".menu-toggle");
    const menuItems = document.querySelector(".menu-items");
    if (menuToggle && menuItems) {
      menuToggle.addEventListener("click", () => {
        menuToggle.classList.toggle("active");
        menuItems.classList.toggle("active");
      });
    }
  });
</script>
